@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Qyteti Librazhd<br />
    Rruga Spitalit<br />
    <abbr title="Phone">P:</abbr>
    4559876
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">apitali@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">klinik.lib@example.com</a>
</address>